# Force Unix line endings for scripts
*.sh text eol=lf
*.py text eol=lf
entrypoint* text eol=lf

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary

# Git hooks must have Unix line endings
build/git-templates/hooks/* text eol=lf
